.content {
  padding: 40px 0;

  &__title {
    margin: 35px 0;
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(233px, 1fr));
    grid-template-areas: "length0";
    gap: 65px 35px;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 40px;
    h3 {
      width: 500px;
      @media (max-width: 590px) {
        width: 400px;
        font-size: 20px;
      }
      @media (max-width: 400px) {
        width: 300px;
        font-size: 15px;
      }
    }
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

@media screen and (max-width: 1340px) {
  .content {
    &__top {
      align-items: start;
    }
  }
}

@media screen and (max-width: 460px) {
  .content {
    padding: 20px 0;
    &__top {
      flex-direction: column;
    }
    &__items {
      margin-top: 20px;
      row-gap: 30px;
    }
  }
}
